@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'slick';
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 49%;
    display: block;
    padding: 0;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: transparent;
    font-size: 0;
    line-height: 0;
    /* background-color: #E98059; */
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
    background: transparent;
    color: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    color: white;
    font-size: 20px;
    font-family: 'slick';
    line-height: 1;
    opacity: .75;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    color:grey; content: "\f104"; font-weight: 900;  font-size: 25px;
    font-family: "Font Awesome 5 Free"; 
    }

[dir='rtl'] .slick-prev:before
{ content: "\f105"; font-weight: 900;  font-family: "Font Awesome 5 Free"; 
    }

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    color:grey;content: "\f105"; font-weight: 900;  font-size: 25px;
    font-family: "Font Awesome 5 Free"; 
    }
[dir='rtl'] .slick-next:before
{content: "\f104"; font-weight: 900;  font-family: "Font Awesome 5 Free"; 
    }

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 60px;
}

.slick-dots
{
    position: absolute;
    bottom: -15px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.slick-dots li button
{
    display: block;
    padding: 5px;
    width: 20px;
    height: 20px;
    outline: none;
    border: 0;
    background: transparent;
    color: transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: #000;
    content: '•';
    text-align: center;
    font-size: 30px;
    font-family: 'slick';
    line-height: 20px;
    opacity: .1;
    /* color:#ddd; */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    color: black;
    color:#252525;
    opacity: .4;
}


/* @media (max-width: 768px) {
    .slick-arrow{
        display: none !important;
    }
} */
